.content {
    z-index: 1;
    h1 {
      font-size: 3.7rem;
      color: var(--v-primary-base);
      font-family: "Source Sans Pro", sans-serif;
      text-transform: uppercase;
      letter-spacing: 6px;
      line-height: 1;
    }
    h2 {
      font-size: 1.6rem;
      color: var(--v-secondary-base);
      font-family: "Source Sans Pro", sans-serif;
      text-transform: uppercase;
      letter-spacing: 6px;
      margin-bottom: 1.2rem;
    }
    p {
      font-size: 1rem;
    }
  }


@media (max-width: 600px) {
    .content {
        h1 {
            font-size: 3rem !important;
        }
        h2 {
            font-size: 1.3rem !important;
        }
        p {
            font-size: 0.9rem !important;
        }
    }   
}