.wrapper {
    position: relative;
    min-height: 100vh;
    .parallax {
      position: absolute;
      top: 0;
      transform: translatey(-40px) scale(1.1);
      -webkit-transform: translatey(-40px) scale(1.1);
      -o-transform: translatey(-40px) scale(1.1);
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      -webkit-background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      contain: strict;
      background-color: #222040;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  @media (max-width: 450px) {
    .wrapper {
      .parallax {
        background-attachment: scroll;
        -webkit-background-attachment: scroll;
      }
    }
  }